.main-container {
    display: flex;
    justify-content: center;
}

.emojis-container {
    padding: 1.5em 0.5em;
    display: flex;
    justify-content: center;
    gap: 1em;
    width: 70%;
    flex-wrap: wrap;
}

@media screen and (max-width: 1500px) {
    .emojis-container {
        width: 85%;
    }
}

@media screen and (max-width: 580px) {
    .emojis-container {
        width: 100%;
    }
    
}