.no-emoji-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 2em;
    margin: 1em;
    padding: 4em 2em;
    background-color: white;
    border-radius: 1em;
}

.no-emoji-container img {
    width: 5em;
    height: 5em;
}

.no-image-title {
    font-weight: 800;
    font-size: 2em;
}

@media screen and (max-width: 580px) {
    .no-emoji-container {
        margin: 0;
        padding: 2em 1em;
    }

    .no-image-title {
        font-size: 1.5em;
    }
}